<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="notice, loop : ${notices}">
            <td th:text="${loop.index + 1}"></td> <!-- loop.count를 loop.index + 1로 수정 -->
            <td><a th:href="@{/notice/readdetail/{id}(id=${notice.id})}" th:text="${notice.title}"></a></td>
            <td th:text="${#temporals.format(board.date, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/board/create}">글작성</a>

</body>
</body>
</html>